# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/



# ДЛя докера
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile
TestApi/.vs/ProjectEvaluation/testapi.metadata.v9.bin
TestApi/.vs/ProjectEvaluation/testapi.projects.v9.bin
TestApi/.vs/TestApi/DesignTimeBuild/.dtbcache.v2
TestApi/.vs/TestApi/v17/.suo
TestApi/.vs/TestApi/v17/DocumentLayout.backup.json
TestApi/.vs/TestApi/v17/DocumentLayout.json
